{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<!-- banner free delivery threshold -->
<div class="container">
    <div class="row text-center">
        <div class="col-12 card-highlight text-dark banner-site">
            <h5 class="my-1">Free delivery on orders over $ {{ delivery_threshold }}</h5>                
        </div>            
    </div>
</div>

<div class="container">        
    <div class="row">
        <div class="col text-center my-4">
            <h2>CART</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if cart_items %}
<!-- Cart Detail -->
<div class="container justify-content-center mb-4">    
    <div class="row gx-2 mb-4">        
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 card-product pt-3 card-product">
            {% for cart_item in cart_items %}
            <div class="row mx-1">
                <!-- image -->
                {% if cart_item.product.image %}
                <div class="col-4 col-md-3">                    
                    <img class="img-fluid px-3" src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}">                        
                </div>
                {% else %}
                <div class="col-4 col-md-3">                    
                    <img class="img-fluid px-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ cart_item.product.name }}">                        
                </div>
                {% endif %}
                <div class="col-8 col-md-5 pb-2">
                    <h5 class="mb-4"><strong>{{ cart_item.product.name }}</strong></h5>
                    <!-- quantity -->
                    <div class="sort-options">
                        <form class="form update-form" method="POST" action="{% url 'update_cart' cart_item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-custom-accent rounded-3" data-item_id="{{ cart_item.item_id }}"
                                            id="decrement-qty_{{ cart_item.item_id }}" aria-label="decrease quantity">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input text-center rounded-3 mx-2" type="number" name="quantity"
                                        value="{{ cart_item.quantity }}" min="1" max="99" data-item_id="{{ cart_item.item_id }}"
                                        id="id_qty_{{ cart_item.item_id }}" aria-label="quantity input" required>
                                    <div class="input-gtoup-append">
                                        <button class="increment-qty btn btn-sm btn-custom-accent rounded-3" data-item_id="{{ cart_item.item_id }}"
                                            id="increment-qty_{{ cart_item.item_id }}" aria-label="increase quantity">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>                                
                                </div>
                            </div>
                        </form>
                        <a class="update-link text-dark" data-toggle="tooltip" data-placement="bottom" title="Update item quantity">
                            <i class="fas fa-redo fa-sm"></i>
                            <small>Update</small>
                        </a>
                    </div>

                    
                </div>
                <!-- delete item / price -->
                <div class="col-12 col-md-4 text-end card-highlight custom-border pt-2">
                    <a class="remove-item simple-text-accent float-right" id="remove_{{ cart_item.item_id }}"
                    data-toggle="tooltip" data-placement="bottom" title="Remove the item">Delete <i class="fas fa-times-circle"></i></a>
                    <p class="mt-3 mb-0">Price: $ {{ cart_item.product.price }}</p>
                    <p class="mt-0"><strong>Sub-Total: $ {{ cart_item.product.price | calc_subtotal:cart_item.quantity }}</strong></p>            
                </div>

                <div class="col-12">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="text-end">
                {% if free_delivery_delta > 0 %}
                <p>Spend <span class="text-color">$ {{ free_delivery_delta }}</span> more to have free delivery</p>
                {% endif %}
                <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                <h4 class="mt-4 text-weight-bold"><strong>Order Total: $ {{ order_total|floatformat:2 }}</strong></h4>
                
            </div>
            <!-- buttons back/secure checkout -->
            <div class="text-end mt-5 mb-3">
                <a href="{% url 'menu' %}" class="btn btn-md btn-custom-normal">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-md btn-custom-accent">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon"><i class="fas fa-shopping-basket"></i></span>
                </a>
            </div>

        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center gx-1">
        <div class="col-12 col-md-10 col-lg-8 card-product text-center py-5">
            <h4 class="mb-4">Your shopping cart is empty.</h4>
            <a class="btn btn-custom-accent" href="{% url 'menu' %}"><i class="fas fa-list-alt"></i> Go to Menu</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'menu/includes/quantity_input_selector.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];        
        let url = `/cart/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken            
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}
