{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- banner free delivery threshold -->
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h5 class="my-1">Unetto Pizza</h5>                
        </div>            
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="jumbotron">        
        <h1 class="display-4 mt-2">
            UNETTO
        </h1>
        <h2 class="display-4">
            pizzeria italiana
        </h2>
        <p>
            Delivery in Amsterdam
        </p>
        <div class="mt-4 mb-3">
            <h4>
                <a href="" class="btn btn-lg text-uppercase py-3">Order Now</a>
            </h4>
        </div>
    </div>
{% endblock %}