:root {
    --body-background-light: rgb(241, 241, 234);
    --text-color-dark: rgb(51, 51, 51);
    --border-radius-custom: 12px;
    --card-color: rgb(255, 255, 255);
    --card-color-highlight: rgb(230, 225, 200);
    --card-color-categories: rgba(76, 76, 69, 0.1);
    --color-accent: #DF590D;    
}

body {
    background-color: var(--body-background-light);
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: var(--text-color-dark);
    min-height: 100vh;
    position: relative;
}

main {
    min-height: calc(100vh - 72px);    
}

.main-index {
    min-height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    background: url('/media/unetto-home.png') no-repeat center center fixed;
    background-size: cover;
}

.text-handwrite {
    font-family: "Caveat", sans-serif;
}

.text-color {
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--color-accent);
}

.simple-text-accent {
    color: var(--color-accent)
}

.favourite {
    padding: 6px 9px 6px 6px;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-accent);    
}

a {
    color: var(--text-color-dark);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

.update-link, .remove-item {
    cursor: pointer;
}

/* ---------- Navbar ---------- */

.background-nav {
    background-color: var(--body-background-light);
}

.nav-link {
    color: var(--text-color-dark);
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    border-radius: var(--border-radius-custom);
}

/* ---------- Footer ---------- */
#site-footer {
    background-color: rgba(3, 0, 151, 0.658);
    color: var(--text-color-dark);
}


/* ---------- Search ---------- */
.search-custom {
    border-color: var(--color-accent);
    border-radius: var(--border-radius-custom);
    border-width: 2px;    
}
.search-custom-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--color-accent);
}

.dropdown-search {
    background-color: transparent;
    border: none;
}

/* ---------- Buttons ---------- */

.btn-custom-normal {
    border-color: var(--text-color-dark);
    border-radius: var(--border-radius-custom);
    background-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    font-weight: 600;
}

.btn-custom-normal:hover {
    border-color: var(--text-color-dark);
    border-radius: var(--border-radius-custom);
    background-color: var(--text-color-dark);
    border-width: 2px;
    font-weight: 600;
    color: white;
}

.btn-custom-accent {
    border-color: var(--color-accent);
    border-radius: var(--border-radius-custom);
    background-color: var(--color-accent);
    border-width: 2px;
    font-weight: 600;
    color: white;
}

/* ---------- Cards ---------- */

.card-home {
    background-color: rgba(241, 241, 234, 0.5);
    border-radius: var(--border-radius-custom);    
    padding: 0px 14px;
}

.card-highlight {
    background-color: var(--card-color-highlight);
}

.card-product, .card-categories {
    border-radius: var(--border-radius-custom);    
    padding: 9px 9px 12px 9px;
}

.card-product {
    background-color: var(--card-color);
}

.card-categories {    
    background-color: var(--card-color-categories); 
}

.banner-site {
    border-radius: var(--border-radius-custom);
}

/* ---------- Others ---------- */

.sort-options {
    max-width: 180px;
}

.custom-border {
    border-radius: var(--border-radius-custom);
}

/* ---------- bootstrap toasts ---------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;    
}

.custom-toast {
    overflow: visible;
    border-radius: 9px;    
}

.toast-cap {
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
