{% load static %}

<footer id="site-footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <p class="my-auto">OPENING</p>
            </div>

            <div class="col-12 col-md-4 text-center">
                <p class="my-auto">LOCATION INFO</p>
            </div>

            <div class="col-12 col-md-4 text-center">
                <p class="my-auto">SOCIAL MEDIA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="my-auto">Nicola Lampis</p>
            </div>
        </div>
    </div>
</footer>