{% load static %}

<footer id="site-footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <p class="my-3"><strong>OPENING</strong></p>
                <p class="my-auto"><i class="far fa-clock"> </i> Tuesday to Sunday: 18:30 - 22:30</p>
                <p class="my-auto">Close on Monday</p>
            </div>

            <div class="col-12 col-md-4 text-center">
                <p class="my-3"><strong>LOCATION</strong></p>
                <p class="my-auto"><i class="fas fa-map-marker-alt"></i> Rokin street 462, Amsterdam</p>
                <p class="my-auto"><i class="fas fa-map-marker-alt"></i> Van Gogh street 332, Utrecht</p>
            </div>

            <div class="col-12 col-md-4 text-center">
                <p class="my-3"><strong>SOCIAL MEDIA</strong></p>
                <a href="https://www.facebook.com/" class="mx-1" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
                <a href="https://www.instagram.com/" class="mx-1" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
            </div>
        </div>        
    </div>
    <div class="container-fluid bottom-line">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="my-auto"><a href="https://github.com/NicolaLampis" target="_blank"><i class="fab fa-github"></i> Nicola Lampis</a> - Created for educational purposes only</p>
            </div>
        </div>
    </div>
</footer>