{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container">        
    <div class="row">
        <div class="col text-center my-4">
            <h2>PRODUCT MANAGEMENT</h2>
            <h5 class="muted">Edit Product</h5>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">    
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-3" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}">Cancel</a>
                    <button class="btn btn-custom-accent mb-2" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
