{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- banner free delivery threshold -->
<div class="container">
    <div class="row text-center">
        <div class="col-12 card-highlight text-dark banner-site">
            <h5 class="my-1">Free delivery on orders over € {{ delivery_threshold }}</h5>                
        </div>            
    </div>
</div>

<!-- sub menu for categories -->
<div class="container">
    <div class="row gx-0">
        <div class="col-12 text-center py-2 my-4 card-categories">
            <h3>CATEGORIES</h3>
            <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}" role="button">Full Menu</a>
            <a class="btn {% if current_category == 'pizza' %}btn-custom-accent{% else %}btn-custom-normal{% endif %} mb-2" href="{% url 'menu' %}?category=pizza" role="button">Pizza</a>
            <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}?category=lasagna" role="button">Lasagna</a>
            <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}?category=drink" role="button">Drink</a>
            <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}?category=dessert" role="button">Dessert</a>
            <a class="btn btn-custom-normal mb-2" href="{% url 'menu' %}?deal=unetto_deal,special_deal,deal_of_the_week" role="button">Deal</a>
        </div>
    </div>
</div>

<div class="container">        
    <div class="row">
        <div class="col text-center my-2">
            <h2>MENU</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-4">
    <!-- Current Category or Search term -->
    {% if current_category %}
        {% for cat in current_category %}
            <h6 class="mb-3 d-inline-block">Current Category: {{ cat.friendly_name }}</h6>
        {% endfor %}
    {% else %}
        {% if search_term %}
            <h6 class="mb-3 d-inline-block">Search: {{ search_term }}</h6>
        {% endif %}
    {% endif %}
    <!-- Sorting options: Name, Price, Favourites -->
    <div class="sort-select-wrapper sort-options">
        <select id="sort-selector" class="form-select form-select-sm custom-border mb-4" aria-label=".form-select-sm sorting">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="favourite" {% if current_sorting == 'favourite' %}selected{% endif %}>Favourite</option>        
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
        </select>
    </div>

    {% if not products %}
        <h4 class="text-center mt-4 text-bold">Oops <i class="fas fa-exclamation"> </i></h4>
        <h5 class="text-center mt-4">No products were found matching your query...</h5>
    {% endif %}
    <!-- Product Card -->
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 card-product border-0">
                <!-- Image Card -->
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid p-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid p-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}

                {% if product.favourite %}
                <a class="favourite btn btn-floating"><i class="fas fa-heart mr-1"></i></a>
                {% else %}
                <a class="favourite btn btn-floating"><i class="far fa-heart mr-1"></i></a>
                {% endif %}
                <!-- Description body Card -->
                <div class="card-body pb-0">
                    <a href="{% url 'product_detail' product.id %}">
                        <h5 class="mb-2"><strong>{{ product.name }}</strong></h5>
                    </a>
                </div>
                <div class="card-footer bg-transparent pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <small class="text-left text-truncate d-block mb-2">{{ product.description }}</small>
                            {% if product.category %}
                            <p class="small mb-1">
                                <a class="text-muted" href="{% url 'menu' %}?category=pizza">
                                    <i class="fas fa-hashtag"></i>{{ product.category.friendly_name }}                                    
                                </a>
                                {% if product.deal.name != "not_a_deal" %}
                                <a class="text-muted" href="{% url 'menu' %}?deal=unetto_deal,special_deal,deal_of_the_week">{{ product.deal.name }}</a>
                                {% endif %}
                            </p>
                            {% endif %}
                            <p class="text-color mb-0 text-left font-weight-bold">€ {{ product.price}}</p>
                            <!-- edit product -->
                            {% if request.user.is_superuser %}
                            <a href="{% url 'product_detail' product.id %}" class="badge border bg-light text-success rounded-pill my-2">
                                <i class="fas fa-pen"></i> go to Edit                                
                            </a>
 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Sort Selector -->     
    <script type="text/javascript">    
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });    
    </script>
{% endblock %}
