.StripeElement,
.stripe-style-input {
    font-family: "Work Sans", sans-serif !important;
    font-size: 1rem !important;
    box-sizing: border-box;
    height: 38px;
    padding: 4px 12px;
    border-radius: 5px;
    border: 2px solid #df5a0d2d;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 12px 0px;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    border-color: #df5a0d52;
    
}

.StripeElement--webkit-autofill {
    background-color: rgba(34, 34, 34, 0.8);
}

.stripe-style-input::placeholder {
    color: #93a5b6;
}

#card-element {
    color: #000;
    border: 2px solid #df5a0d2d;
    padding: 8px 12px;    
}

.custom-legend {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
