{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- banner site -->
<div class="container">
    <div class="row text-center">
        <div class="col-12 card-highlight text-dark banner-site">
            <h5 class="my-1">Free delivery on orders over $ {{ delivery_threshold }}</h5>                
        </div>            
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">        
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="display-4 mt-4">                    
                About UNETTO
            </h2>
            <h3 class="text-handwrite display-4">
                pizzeria italiana
            </h3>
            <p class="my-3">
                Delivery in Amsterdam / Utrecht
            </p>
        </div>
    </div>
    <!-- images and description -->
    <div class="row">
        <div class="col-12">
            <img class="about-image" src="{% static 'images/hand-made.jpg' %}" alt="hand-made">
            <p class="mt-5 text-handwrite-big">
                Unetto is a pizzeria specializing in traditional italian pizza of the highest quality at a moderate price
            </p>
            <hr>
            <p class="mt-2 text-handwrite-big">Handmade pizza and lasagna, as tradition says:</p>
            <ul class="mt-2 mb-5 text-handwrite-big">
                <li class="mt-2">We use only fresh ingredient rich in flavor</li>
                <li class="mt-2">Our pizza is cooked in a stone oven, for a perfect result</li>
                <li class="mt-2">Long time fermenting dowgh, make it easily digestible and delicious</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="about-image" src="{% static 'images/fresh-ingredients.jpg' %}" alt="fresh ingredients">            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="about-image" src="{% static 'images/oven.jpg' %}" alt="stone oven">           
        </div>
    </div> 
    <!-- order button -->
    <div class="my-5 text-center">
        <h4>
            <a href="{% url 'menu' %}" class="btn btn-lg btn-custom-accent text-uppercase py-3 my-3 mx-1">Order Now</a>
            <a href="{% url 'menu' %}?deal=unetto_deal,special_deal,deal_of_the_week" class="btn btn-lg btn-custom-accent text-uppercase py-3 my-3 mx-1">Our Deals</a>
        </h4>
    </div>
    
</div>        

{% endblock %}
